{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<div class="container py-5 mt-5 mb-5 mt-2">
    <h2 class="text-center mb-4">Contact Us</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="POST" class="mx-auto" style="max-width:600px;">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Your Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Your Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="tel" class="form-label">Your Phone</label>
            <input type="tel" class="form-control" id="phone" name="phone" required  pattern="[0-9]{10}" maxlength="10" >
        </div>

        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary w-100">Send Message</button>
    </form>
</div>
{% endblock %}
